/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@300&family=Smooch+Sans:wght@300&display=swap');

/* Asterisk to override default styles added by browsers */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styling */

body {
    display: block;
    min-height: 100vh;
}

h1,
h2,
h3 {
    font-size: 180%;
    text-shadow: 3px 3px 3px lightskyblue;
    letter-spacing: 2px;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

a {
    letter-spacing: 2px;
    font-size: 120%;
    box-shadow: 3px 3px 5px lightblue;
    margin: 20px auto;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
}

a:hover {
    background-color: lightgreen;
}

p {
    font-size: 120%;
    letter-spacing: 2px;
    margin: 20px auto;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

/* Header */

#photo {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    margin: 20px auto;
    background: url('../images/cvfoto.webp') no-repeat center center/cover;
}



header {
    padding: 0 1rem;
    width: 100%;
    box-shadow: 0 2px 2px black;
    justify-content: space-between;
    align-items: baseline;
}

/* menu Styles */

.topnav {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.topnav #menu {
    display: none;
}

.topnav a {
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 120%;
    display: block;
}

.topnav a.icon {
    margin: 20px auto;
    color: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0%;
    box-shadow: 0 0 0;
}

/* Sidebar */


/* Footer */

footer {
    width: 100%;
    margin: 20px auto;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
}


@media screen and (min-width: 1024px) {

    /* General styles */

    h1,
    h2,
    h3,
    a,
    p {
        font-size: 180%;
    }

    /* Header styles */

    .topnav {
        padding: 0 1rem;
        display: flex;
        flex-wrap: wrap;
    }

    .topnav #menu {
        display: flex;
        flex-direction: row;
    }

    .topnav a {
        font-size: 160%;
        text-align: center;
        margin: 20px auto;
        padding: 5;
        position: relative;
    }

    .topnav a.icon {
        display: none;
    }


    main {
        flex: 1 0 auto;
        display: flex;
        margin: 20px auto;
        padding: 0 1rem;
        justify-content: space-between;
    }

    .sidebar {
        flex: 20%;
        background-color: cyan;
        margin: 20px auto;
    }

    .main-content {
        flex: 70%;
        background-color: lightpink;
        margin: 20px auto;
        padding: 0 1rem;
    }
}