/* Asterisk to override default styles added by browsers */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styling */

body {
    display: block;
    min-height: 100vh;
}

/* Header */

#photo {
    border: 2px solid white;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    margin: 20px auto;
    background: url('../images/cvfoto.webp') no-repeat center center/cover;
}

header {
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px black;
    justify-content: space-between;
    align-items: baseline;
    text-align: center;
}

header h1 {
    margin: 20px auto;
}

header h2 {
    margin: 20px auto;
}

#menu {
    justify-content: space-between;
    list-style-type: none;
    color: inherit;
    display: flex;
    letter-spacing: 2px;
}

#menu a {
    letter-spacing: 2px;
    font-size: 120%;
}

#menu a:hover {
    color: purple;
}